body {
  margin: 0;
  background-image: linear-gradient(to bottom, transparent 50%, #313335 50%),
  linear-gradient(to right, #404244 50%, #313335 50%);
  background-size: 25px 25px, 25px 25px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
